{% extends 'admin_layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Admin Page</h1>
    <p>Welcome to the admin page!</p>
  </div>
  <div class="row">
    <div class="container text-center">
      <div class="row row-cols-2">
        <div class="col">
          <p>
            <a
              class="btn btn-secondary admin-action-btn"
              href="admin_change_password.html"
              >Change Login details</a
            >
          </p>
        </div>
        <div class="col">
          <p>
            <a
              class="btn btn-secondary admin-action-btn"
              href="admin_testimonials.html"
              >Change Testimonials</a
            >
          </p>
        </div>
        <div class="col">
          <p>
            <a
              class="btn btn-secondary admin-action-btn"
              href="admin_about.html"
              >Change About Me</a
            >
          </p>
        </div>
        <div class="col">
          <p>
            <a class="btn btn-secondary admin-action-btn" href="/admin_blog.html"
              >Make a new blog</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
