{% extends 'layout.html' %} {% block content %}
<div class="container-fluid px-0">
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        aria-hidden="true"
        class="bd-placeholder-img img-fluid w-100 h-100"
        preserveAspectRatio="xMidYMid slice"
        src="static/images/carousel_photos/Carousel image 1.png"
        style="object-fit: cover"
        alt="Le Acupuncture Photo of practice"
      />
      <div class="container"></div>
    </div>
    <div class="carousel-item">
      <img
        aria-hidden="true"
        class="bd-placeholder-img img-fluid w-100 h-100"
        preserveAspectRatio="xMidYMid slice"
        src="static/images/carousel_photos/Carousel image 2.png"
        style="object-fit: cover"
        alt="Le Acupuncture photo of needling"
      />
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <div class="container">
        <div class="carousel-caption">
          <h1 class="carousel-heading">Book Now</h1>
          <p class="carousel-text-shadow">
            Experience world class Acupuncture treatment
          </br>
            From a local Doctor of Chinese Medicine
          </p>
          <p><a class="btn btn-secondary" href="booking.html">Book Now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        aria-hidden="true"
        class="bd-placeholder-img img-fluid w-100 h-100"
        preserveAspectRatio="xMidYMid slice"
        src="static/images/carousel_photos/carousel image 3.png"
        style="object-fit: cover"
        alt="Le Acupuncture photo of Acupuncture apparatus"
      />
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1 class="carousel-heading">View The Free Blog</h1>
          <p class="carousel-text-shadow">
            Explore expert insights, wellness tips, and real stories from our acupuncture practice. 
          </p>
          <p><a class="btn btn-secondary" href="blog.html">View Blog</a></p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<!-- Marketing messaging and featurettes -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img
        aria-label="Placeholder"
        height="140"
        preserveAspectRatio="xMidYMid slice"
        role="img"
        width="140"
        alt="Booking Icon"
        src="static/images/icons/Booking Icon.png"
      >
        <title>Placeholder</title>
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <h2 class="fw-normal">Book With Us</h2>
      <p>
        Book an appointment with us directly through our website. We
        offer a variety of services to help you achieve your wellness goals.
      </p>
    </div>
    <div class="col-lg-4">
      <img
        aria-label="Placeholder"
        height="140"
        preserveAspectRatio="xMidYMid slice"
        role="img"
        width="140"
        alt="Blog Icon"
        src="static/images/icons/Blog icon.png"
      >
        <title>Placeholder</title>
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <h2 class="fw-normal">View our blog</h2>
      <p>
        Read our latest articles and insights on acupuncture, herbal medicine,
        and wellness practices. Stay informed and inspired with our expert
        content.
      </p>
    </div>
    <div class="col-lg-4">
      <img
        aria-label="Placeholder"
        height="140"
        preserveAspectRatio="xMidYMid slice"
        role="img"
        width="140"
        alt="About Me icon"
        src="static/images/icons/about me icon.png"
      >
        <title>Placeholder</title>
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <h2 class="fw-normal">About Me</h2>
      <p>
        Learn more about our founder and practitioner, who has dedicated their
        life to the art of acupuncture and holistic healing. Discover their
        journey and philosophy on wellness.
      </p>
    </div>
    <div class="container text-center mt-0">
      <div class="row no-extra-margin">
        <div class="col">
          <p><a class="btn btn-secondary" href="booking.html">View details &raquo;</a></p>
        </div>
        <div class="col">
          <p><a class="btn btn-secondary" href="blog.html">View details &raquo;</a></p>
        </div>
        <div class="col">
          <p><a class="btn btn-secondary" href="about.html">View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider-index" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">List of Services</h2>
      <p>
        <ul class="lead">
          <li>Acupuncture</li>
          <li>Herbal Medicine</li>
          <li>Cupping Therapy</li>
          <li>Massage Therapy</li>
          <li>Wellness Counseling</li>
          <li>Community Acupuncture</li>
        </ul>
      </p>
    </div>
    <div class="col-md-5">
      <img
        aria-label="Placeholder: 500x500"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded shadow"
        height="500"
        preserveAspectRatio="xMidYMid slice"
        role="img"
        width="500"
        src = /static/images/acupuncture-needling.jpg
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
        <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
        </text>
      </svg>
    </div>
  </div>
{% endblock %}
